body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

html {
    font-size: var(--font-size, 1rem);
}

:root {
    --background-ui: #202020;
    --background-root: #101010;
    --background-main: #303030;
    --color-auxiliary: #777777;
    --color-primary: #d8d8d8;
    --color-secondary: #f5f4f0;
    --color-selection: rgba(255, 255, 255, 0.2);
    --color-md-heading: var(--color-primary);
    --color-md-link: #94cfff;
    --color-md-url: #d568b6;
    --color-md-string: #85c77c;
    --color-md-quote: #b1b1b1;
    --color-cm-html: #ff9a00;
    --font: monospace;
    --scrollbar-width: 0.5rem;
}

* {
    font-family: var(--font);
}

body {
    background-color: var(--background-root);
    color: var(--color-primary);
}

#app {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#editor {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

#editor>.CodeMirror {
    width: 100%;
    height: 100%;
    max-width: 100ch;
    resize: none;
    box-sizing: border-box;
    font-size: 1rem;
}

.CodeMirror-dialog .CodeMirror-search-field {
    font: var(--font);
}

.CodeMirror-gutters {
    border-right-color: var(--color-auxiliary);
}

.CodeMirror-gutters, #editor>.CodeMirror {
    background-color: var(--background-main);
    color: var(--color-secondary);
}

.CodeMirror-cursors .CodeMirror-cursor {
    background-color: transparent;
    border-left: 2px solid var(--color-secondary);
}

.CodeMirror-linenumbers .CodeMirror-linenumber {
    font-size: 1rem;
}

#editor .cm-header {
    color: var(--color-primary);
}

#editor .cm-link {
    color: var(--color-md-link);
}

#editor .cm-url {
    color: var(--color-md-url);
}

#editor .cm-string {
    color: var(--color-md-string);
}

#editor .cm-comment {
    color: var(--color-md-string);
}

#editor .cm-quote {
    color: var(--color-md-quote);
}

#editor .cm-tag {
    color: var(--color-cm-html);
}

#editor .cm-attribute {
    color: var(--cm-html);
}

.cm-header-1 {
    font-size: 150%;
}

.cm-header-2 {
    font-size: 130%;
}

.cm-header-3 {
    font-size: 120%;
}

.cm-header-4 {
    font-size: 110%;
}

.cm-header-5 {
    font-size: 100%;
}

.cm-header-6 {
    font-size: 90%;
}

.cm-s-default .cm-variable-2 {
    color: var(--color-primary);
}

.cm-s-default .CodeMirror-selected {
    background: var(--color-selection);
}

#statusline {
    height: 1.2rem;
    color: var(--color-auxiliary);
    width: 100%;
    background: var(--background-ui);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    cursor: default;
    -webkit-user-select: none;
    display: flex;
}

#statusline-dirty-state {
    margin-left: 0.5rem;
    color: var(--color-auxiliary);

}

#statusline-rightmost {
    margin-left: auto;
    color: var(--color-auxiliary);
    margin-right: 0.5rem;
}

*::-webkit-scrollbar {
    width: var(--scrollbar-width);
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--color-selection);
}